<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <!--服务的行为-->
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      
        <services>
          <!--发布服务的endpoint-->
            <service name="WCFLearn.FlyClass">
                <endpoint address="net.msmq://localhost/private/MyWcf" binding="netMsmqBinding" contract="WCFLearn.IFlyService" bindingConfiguration="mymodel">
                    <identity>
                        <dns value="localhost" />
                    </identity> 
                </endpoint>
              <!--公布的元数据-->
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/WCFLearn/MyWcf/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
      <bindings>
        <netMsmqBinding>
          <binding name="mymodel">
            <security mode="None"></security>
          </binding>
        </netMsmqBinding>
      </bindings>
    </system.serviceModel>
</configuration>